# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Week9-DataStructures.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\guisa\Documents\Code Lab 1\MyHomework\jag10002-HW-Week9\Week9-DataStructures\.idea\.idea.Week9-DataStructures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
